/* app css stylesheet */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    height: 55px;
    line-height: 55px;
    margin: 5px 0px 5px 0px;
    font-size: 1em;
    border: none;
    width: 140px;
}

.btn-success {
    width: 100%;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

button:focus {outline:0;}

.btn-group button:focus {outline:0;}

.panel-body  {
    word-wrap: normal;
}

.panel-url > .panel-body {
    white-space: nowrap;
    overflow-x: scroll;
}

.panel-dimension > .panel-body  {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu {
  width: 500px;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-toggle {
  width: 500px;
}

.panel-primary > .panel-heading > .panel-title {
    font-size: 50px;
    font-weight: bold;
}

.container {
    padding-top: 50px;
}

.panel-default > .panel-heading > .panel-title {
    font-weight: bold;
}

body {
    background:#efefef;
}