<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">USA-NPN Geoserver Request Builder</h1>
    </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Complete the fields below to build a request url for the USA-NPN Geoserver instance. Once your request is built you can copy the url or click the 'Send Request' button to view the map in a new tab or download the coverage requested.</strong>
            </div>
        </div>

        <!--<div [ngClass]="getPanelClasses()">-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Service Type</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" [class.active]="isSelected('wms')" (click)="setService('wms')">WMS</button>
                            <button type="button" class="btn btn-default" [class.active]="isSelected('wcs')" (click)="setService('wcs')">WCS</button>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                WMS (Web Mapping Service) and WCS (Web Coverage Service) are two OGC (Open Geospatial Consortium) web service standards that the NPN Geoserver instance exposes. Each layer can be accessed via either service. The WMS service can deliver raster images of various types including jpegs, animated gifs, geotiffs, and openlayers. When something more than a simple image is required WCS should be used. An example of this is when the underlying raster data is needed to be used in geospatial analysis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Layer Name</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{getSelectedLayer()}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let layer of _geoserverService.wmsLayers" (click)="setSelectedLayer(layer)"><a href="javascript:;">{{layer.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Layer Description</div>
                            <div class="panel-body">
                                {{selectedLayer ? selectedLayer.description : 'Select a layer to view its description.'}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default" [class.hide]="!isSelected('wms')">
            <div class="panel-heading">
                <h3 class="panel-title">State Borders</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="stateBorders" value="{{stateBorders}}" [(ngModel)]="stateBorders"> Show State Borders
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Check this box if you would like the generated map to show state borders.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" [class.hide]="!isSelected('wms')">
            <div class="panel-heading">
                <h3 class="panel-title">Color Ramp</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="showColorRamp" value="{{showColorRamp}}" [(ngModel)]="showColorRamp"> Show Color Ramp
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Check this box if you would like to show the color ramp next to the map.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" [class.hide]="!selectedLayerHasDate()">
            <div class="panel-heading">
                <h3 class="panel-title">Date</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <input type="date" required name="date" class="form-control" [(ngModel)]="selectedDate" min="1950-01-01"><br>
                        </form>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-dimension">
                            <div class="panel-heading">Valid Range</div>
                            <div class="panel-body">
                                {{getDimensionRange()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" [class.hide]="!selectedLayerHasDoy()">
            <div class="panel-heading">
                <h3 class="panel-title">Day of Year</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" type="number" name="selectedDoy" min="1" max="365" [(ngModel)]="selectedDoy">
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-dimension">
                            <div class="panel-heading">Valid Range</div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    {{getDimensionRange()}}
                                </div>
                                <div class="col-md-6">
                                    <a href="http://disc.sci.gsfc.nasa.gov/julian_calendar.html" target="_blank">Day of Year Calendar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Format</h3>
            </div>
            <div class="panel-body">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="wmsFormatdropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{getSelectedFormat()}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="wmsFormatdropdownMenu">
                        <li *ngFor="let format of getFormats()" (click)="setSelectedFormat(format)"><a href="javascript:;">{{format.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default" [class.hide]="!isSelected('wms')">
            <div class="panel-heading">
                <h3 class="panel-title">Size</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="width_span">width</span>
                            <input type="text" class="form-control" id="bbox_width" aria-describedby="width_span" [(ngModel)]="urlWidth">
                        </div><br/>
                        <div class="input-group">
                            <span class="input-group-addon" id="height_span">height</span>
                            <input type="text" class="form-control" id="bbox_height" aria-describedby="height_span" [(ngModel)]="urlHeight">
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Specify the width and height of the generated map in pixels.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-url">
            <div class="panel-heading">
                <h3 class="panel-title">URL</h3>
            </div>
            <div class="panel-body">
                {{getGeoserverUrl()}}
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="requestButtonPressed()">Send Request</button>

    </div>
</div>
</div>

<modal #serviceTypeModal>
    <modal-header>
        <h4 class="modal-title">No service type selected.</h4>
    </modal-header>
    <modal-body>
        Please choose a service type by clicking either the WMS or WCS button.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn" (click)="serviceTypeModal.close();">Close</button>
    </modal-footer>
</modal>
